h1 {
	display: inline-flex;
	float: : right;
	margin-right: 300px;
	
}

div.tableCol{
	display: inline-block;
	height: 25px;
	width: 25px;
	border: solid black 2px;
	}


div.newTableRow{
	height: 25px;
	width: 25px;
	border: solid black 2px;
}

.colorTable{
	float: left;
	margin-top: 90px;
	height: 25px;
	width: 25px;
	border: solid black 2px;
}

#eraseButton{
	margin: auto;
  width: 10%;
  padding: 10px;
	background-color: red;
}

#clrButton{
	overflow: auto;
	margin: auto;
  width: 10%;
  padding: 10px;
  background-color: green;
}

#MainTableWrapper{
	overflow: auto;
	margin-top: 30px;
	height: 270px;
	margin: auto;
  width: 50%;
  padding: 10px;

}

body {
    background-image: url(https://wallpapercave.com/wp/6Y8k3h9.jpg);
    background-color: #cccccc;
}



