div.tableCol{
	display: inline-block;
	height: 25px;
	width: 25px;
	border: solid black 2px;

}

div.miniTableCol{
	float: left;
	width: 25px;
	background-color: red;
	border: red;
}

div.tableRow{
	height: 25px;
	width: 25px;
	border: solid black 2px;
}