/*div #MainTableWrapper {
	position: fixed;
	top: 50%;
	left: 50%;
}*/

/*div #MainColorTableWrapper{

}

*/


div.tableCol{
	display: inline-block;
	height: 25px;
	width: 25px;
	border: solid black 2px;

}


div.newTableRow{
	height: 25px;
	width: 25px;
	border: solid black 2px;
}




div.colorTable{
	float:right;

	height: 25px;
	width: 25px;
	border: solid black 2px;


}

/*
div.colorTableRow{
	height: 25px;
	width: 25px;
	border: solid black 2px;

}*/